# SchoolProgrammers Coding_Test Lv.1

https://school.programmers.co.kr/learn/challenges?order=acceptance_desc&levels=1&languages=python3

## No.1~7 (2023.05.15)

### 1. 자릿수 더하기

자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

In [142]:
# 제출 답안

def solution(N):
    
    n_str = str(N)
    sum_digits = 0
    
    for digit in n_str:
        
        sum_digits += int(digit)

    return sum_digits

In [32]:
def solution(N):
    
    n_str = str(N)
    sum_digits = 0
    
    for digit in n_str:
        
        sum_digits += int(digit)
    

    return sum_digits

print(solution(123))
print(solution(987))

6
24

### 2. 짝수와 홀수

정수 num이 짝수일 경우 "Even"을 반환하고 홀수인 경우 "Odd"를 반환하는 함수, solution을 완성해주세요.

In [143]:
#제출 답안

def solution(num):
    
    if num % 2 == 0:
        return "Even"
    
    else:
        return "odd"

In [57]:
def solution(num):
    
    if num % 2 == 0:
        return "Even"
    
    else:
        return "odd"
        

print(solution(3))
print(solution(4))

odd
Even

### 3. 약수의 합

정수 n을 입력받아 n의 약수를 모두 더한 값을 리턴하는 함수, solution을 완성해주세요.

In [144]:
#제출 답안

def solution(n):
    
    li=[]

    for i in range(1,n+1):
        if n%i==0:
            li.append(i)
            sum_list = sum(li)
            
    return sum_list

In [90]:
def solution(n):
    
    li=[]
    
    if n == 0:
        return None

    for i in range(1,n+1):
        if n%i==0 and n!=0:
            li.append(i)
            sum_list = sum(li)
            
    return sum_list

print(solution(12))
print(solution(5))
print(solution(0))

28
6
None

### 4. 평균 구하기

정수를 담고 있는 배열 arr의 평균값을 return하는 함수, solution을 완성해보세요.

In [145]:
#제출 답안

def solution(arr):
    answer = sum(arr) / len(arr)
    
    return answer

In [92]:
def solution(arr):
    answer = sum(arr) / len(arr)
    
    return answer

print(solution([1,2,3,4]))
print(solution([5,5]))

2.5
5.0

### 5. 나머지가 1이 되는 수 찾기

자연수 n이 매개변수로 주어집니다. n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 return 하도록 solution 함수를 완성해주세요. 답이 항상 존재함은 증명될 수 있습니다.

In [146]:
#제출 답안

def solution(n):
    
    li=[]

    for i in range(1,n+1):
        if n%i == 1:
            li.append(i)

            
    return min(li)

In [95]:
def solution(n):
    
    li=[]

    for i in range(1,n+1):
        if n%i == 1:
            li.append(i)

            
    return min(li)

print(solution(10))
print(solution(12))

3
11

### 6. x만큼 간격이 있는 n개의 숫자

함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다. 다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.

In [149]:
#제출 답안

def solution(x, n):
    
    answer = []

    for i in range(1,n+1):
        
        answer.insert(i,x*i)
        
    return answer

In [148]:
def solution(x, n):
    
    answer = []

    for i in range(1,n+1):
        
        answer.insert(i,x*i)
        
    return answer

print(solution(2,5))
print(solution(4,3))
print(solution(-4,2))

[2, 4, 6, 8, 10]
[4, 8, 12]
[-4, -8]

### 7. 문자열 내 p와 y의 개수

대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요. 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

In [150]:
#제출 답안

def solution(s):

    p_count = s.lower().count("p")
    y_count = s.lower().count("y")
    
    if p_count == y_count:
        return True
    else:
        return False

In [141]:
def solution(s):

    p_count = s.lower().count("p")
    y_count = s.lower().count("y")
    
    if p_count == y_count:
        return True
    else:
        return False
    
print(solution("pPoooyY"))
print(solution("Pyy"))

True
False

## No.8~14 (2023.05.16)

#### 8. 자연수 뒤집어 배열로 만들기
자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

In [25]:
#제출 답안
def solution(n):
    
    str_n = str(n)[::-1]    #문자열로 변환 후 역순으로 나열
    
    li = []                 # 리스트 생성
    i = 0
    
    for i in str_n:         #문자열 n을 for문으로 반복 실행
        li.append(i)        #실행한 값을 li 리스트에 순서대로 추가
    
    li_int = list(map(int,li))  #li 리스트 원소의 타입을 정수로 변환

    return li_int

In [24]:
def solution(n):
    
    str_n = str(n)[::-1]
    
    li = []
    i = 0
    
    for i in str_n:
        li.append(i)
    
    li_int = list(map(int,li))

    return li_int

print(solution(12345))

[5, 4, 3, 2, 1]

### 9. 정수 제곱근 판별
임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.
n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.

In [ ]:
def solution(n):
    
    x = n**(1/2)                    # n의 제곱근을 x 변수에 할당
    
    if x % 1 == 0 :                  # x를 1로 나눴을 때 나머지가 0일 때(x가 정수인지 판별)        
        return int((x+1)**2)       
    
    else:
        return -1

In [38]:
def solution(n):
    
    x = n**(1/2)
    
    if x % 1 ==0 :
        return int((x+1)**2)
    
    else:
        return -1
print(solution(121))
print(solution(3))

144
-1

#### 10. 문자열을 정수로 바꾸기

문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

In [ ]:
def solution(s):
      
    return int(s)

In [42]:
def solution(s):
    
    return int(s)

print(solution("-1234"))

-1234

#### 11. 정수 내림차순으로 배치하기

함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

In [ ]:
def solution(n):
    
    n_str = str(n)                        # n을 문자열로 변환

    li = []                               # 리스트 생성

    for i in str(n):
        li.append(i)                      # 문자열의 각 단어를 리스트에 추가

    S_li = sorted(li,reverse = True)      # 리스트를 내림차순 정렬

    n_reverse = int("".join(S_li))        # 리스트를 공백 없이, 정수로 변환 후 출력
    
    return n_reverse

In [59]:
def solution(n):
    
    n_str = str(n)

    li = []

    for i in str(n):
        li.append(i)

    S_li = sorted(li,reverse = True)

    n_reverse = int("".join(S_li))
    
    return n_reverse

print(solution(113872))

873211

#### 12. 하샤드 수

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

In [ ]:
def solution(x):
    
    x_str = str(x)
    sum_digits = 0
    
    for digit in x_str:
        
        sum_digits += int(digit)
    
    if x % sum_digits == 0:
        return True
    
    else:
        return False

In [63]:
def solution(x):
    
    x_str = str(x)
    sum_digits = 0
    
    for digit in x_str:
        
        sum_digits += int(digit)
    
    if x % sum_digits == 0:
        return True
    
    else:
        return False

print(solution(10))
print(solution(12))
print(solution(11))
print(solution(13))

True
True
False
False

#### 13. 두 정수 사이의 합

두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.
예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

In [ ]:
def solution(a, b):
    
    i = 0
    t = 0
    f = 0
    
    if a < b:
        for i in range(a,b+1):
            t += i
    
        return t
    
    elif a > b:
        for i in range(b,a+1):
            f += i
            
        return f
    
    else:
        return a

In [68]:
def solution(a, b):
    
    i = 0
    t = 0
    f = 0
    
    if a < b:
        for i in range(a,b+1):
            t += i
    
        return t
    
    elif a > b:
        for i in range(b,a+1):
            f += i
            
        return f
    
    else:
        return a

print(solution(3,5))
print(solution(3,3))
print(solution(5,3))

12
3
12

#### 14. 콜라츠 추측

1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

1-1. 입력된 수가 짝수라면 2로 나눕니다. 

1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.

2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다. 

예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요. 단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

In [ ]:
def solution(num):
    
    if num == 1:  # 주어진 수가 1이라면 0으로 반환
        return 0
    
    i = 0         # 반복횟수 변수 설정
    
    while True:
        
        if num == 1:    #작업 반복 결과 1이 나오면 빠져나오기
            break
        
        if i == 500:    #작업 반복 횟수가 500이 되면 빠져나오기
            break
        
        if num % 2 == 0:   # 1-1 입력된 수가 짝수라면 2로 나누기
            num //= 2
            i += 1          #반복횟수 +1
        
        else: 
            num = num * 3 + 1  #1-2 입력된 수가 홀수라면 3을 곱하고 1을 더하기
            i += 1
    
    if i != 500:               # 반복횟수가 500이 아닐 시에는 반복횟수 출력
        return i
    else:
        return -1

In [102]:
def solution(num):
    
    if num == 1:
        return 0
    
    i = 0
    
    while True:
        
        if num == 1:
            break
        
        if i == 500:
            break
        
        if num % 2 == 0:
            num //= 2
            i += 1 
        
        else: 
            num = num * 3 + 1
            i += 1
    
    if i != 500:
        return i
    else:
        return -1
    
    
print(solution(6))
print(solution(16))
print(solution(626331))

8
4
-1