In [ ]:
# 8번문제: 자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요.
예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

제한 조건
n은 10,000,000,000이하인 자연수입니다.

In [ ]:
def solution(n):
    answer = []
    while n > 0:
        left = n % 10  
        answer.append(left)
        n //= 10
    return answer

#### reverse()를 쓰기보단 10으로 나눈 나머지를 더하는게 답이었다. //= 몫

In [ ]:
# 9번문제: 임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.
n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.

제한 사항
n은 1이상, 50000000000000 이하인 양의 정수입니다.

In [ ]:
import math

def solution(n):
    if math.isqrt(n)**2 == n:
        return (math.isqrt(n) + 1)**2
    else:
        return -1

#### math 모듈의 isqrt() 함수로 양의 정수의 제곱근 구하기

In [ ]:
# 10번문제: 문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

제한 조건
s의 길이는 1 이상 5이하입니다.
s의 맨앞에는 부호(+, -)가 올 수 있습니다.
s는 부호와 숫자로만 이루어져있습니다.
s는 "0"으로 시작하지 않습니다.

In [ ]:
def solution(s):
    num = int(s)
    return num

In [ ]:
# 11번문제: 함수 solution은 정수 n을 매개변수로 입력받습니다. 
n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 
예를들어 n이 118372면 873211을 리턴하면 됩니다.

제한 조건
n은 1이상 8000000000 이하인 자연수입니다.

In [ ]:
def solution(n):
    list = [] 
    for i in range(str(n)):
        list.append(i)
    sorted_list = sorted(list, reverse=True)
    result = int(''.join(sorted_list))
    return result

#### join() 메서드를 사용하여 리스트를 하나의 문자열로 결합한 뒤, 정수로 변환하여 결과를 반환

In [ ]:
# 12번문제: 양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 
자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

제한 조건
x는 1 이상, 10000 이하인 정수입니다.

In [ ]:
def solution(x):
    x_sum = 0
    for i in str(x):
        x_sum += int(i)
    if x % x_sum == 0:
        return True
    else:
        return False

#### for i in str(x) 많이 써먹음

In [ ]:
# 13번문제: 두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.
예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

제한 조건
a와 b가 같은 경우는 둘 중 아무 수나 리턴하세요.
a와 b는 -10,000,000 이상 10,000,000 이하인 정수입니다.
a와 b의 대소관계는 정해져있지 않습니다.

In [ ]:
def solution(a, b):
    answer = 0
    if b >= a:
        for i in range(a, b+1):
            answer += i
    else:
        for i in range(b, a+1):
            answer += i
    return answer

In [ ]:
# 14번문제: 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 
모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

1-1. 입력된 수가 짝수라면 2로 나눕니다. 
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다. 
2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다. 
예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다.
위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요.
단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

제한 사항
입력된 수, num은 1 이상 8,000,000 미만인 정수입니다.

In [ ]:
def solution(num):
    answer = 0
    while num != 1:
        if num % 2 == 0:
            num = num // 2
        else:
            num = num * 3 + 1
        answer += 1
        
        if answer == 500:
            return -1
    return answer

#### 조건 꼼꼼하게 반영하기