## (Q8) 자연수 뒤집어 배열로 만들기

자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

In [7]:
def solution(n):
    n = list(str(n))
    n.reverse()
    answer = list(map(int,n))

    return answer

In [8]:
#정답
def solution(n):
    n_str = str(n)
    answer = [int(n_str[i]) for i in range(len(n_str)-1,-1,-1)]
    return answer

## (Q9) 정수 제곱근 판별

임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다. n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.

In [9]:
def solution(n):
    sqrt = n ** (1/2)
    if sqrt % 1 == 0:
        answer = (sqrt + 1) ** 2
    else :
        answer = -1
    return answer

## (Q10) 문자열을 정수로 바꾸기

문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

In [10]:
def solution(s):
    answer = int(s)
    return answer

## (Q11) 정수 내림차순으로 배치하기

함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

In [11]:
def solution(n):
    n = [str(n)]
    n = n.sort()
    answer = int(n)
    return answer

## (Q11) 정수 내림차순으로 배치하기

함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

In [12]:
def solution(n):
    n = [str(n)]
    n = n.sort()
    answer = int(n)
    return answer

In [13]:
#정답
def solution(n):
    revlist = sorted(str(n), reverse = True)
    answer = int(''.join(revlist))
    return answer

## (Q12) 하샤드 수

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

In [22]:
#정답
def solution(x):
    n = sum([int(i) for i in str(X)])
    answer = True if x%n == 0 else false
    return answer

## (Q13) 두 정수사이의 합

두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요. 예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

In [14]:
def solution(a, b):
    answer = 0
    if a < b : 
        for i in range(a,b+1,1):
            answer += i
    else :
        for i in range(b, a+1,1):
            answer += i
    return answer

## (Q14) 콜라츠 추측

1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

1-1. 입력된 수가 짝수라면 2로 나눕니다. 
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다. 

2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다. 
예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요. 단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

In [24]:
def solution(num):
    cnt = 0
    for i in range(500):
        while True :
            if num%2==0 : 
                num = num/2
                cnt+=1
            else :
                num = num*3+1
                cnt+=1
        if num == 1 :
            break
    if cnt==500 :
        answer = -1
    else :
        answer = cnt
    return answer

In [23]:
#정답
def solution(num):
    answer = 0
    while num != 1:
        if num % 2 == 0 :
            num //= 2
        else :
            num = (num * 3) + 1
        answer += 1
        if answer >= 500 :
            answer = -1
            break
    return answer