# 코딩테스트

## x만큼 간격이 있는 n개의 숫자

함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다. 다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.  

제한 조건
- x는 -10000000 이상, 10000000 이하인 정수입니다.
- n은 1000 이하인 자연수입니다.

In [3]:
for i in range(-4,-4*2-1,-4):
    print(i)

-4
-8

In [7]:
a = []
a.insert(0,1)
a

[1]

In [8]:
a.insert(1,2)
a

[1, 2]

In [12]:
a=[]

In [15]:
a.append(1)

In [17]:
a.append(2)

In [18]:
a

[1, 2]

In [13]:
for i in range(2,9,2):

2
4
6
8

In [22]:
for i in range(0,1,0):
    print(i)

ValueError: range() arg 3 must not be zero

In [31]:
def solution(x,n):
    list = []
    if x> 0:
        for i in range(x,x*n+1,x):
            list.append(i)
        return list
    elif x<0:
        for i in range(x,x*n-1,x):
            list.append(i)
        return list
    else:
        return []

solution(0,5)

[]

## 문자열 내 p와 y의 개수
대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요. 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.  

예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.  

제한사항  
- 문자열 s의 길이 : 50 이하의 자연수
- 문자열 s는 알파벳으로만 이루어져 있습니다.

In [32]:
s = "PpppOOoooYyy"
len(s)

12

In [37]:
for i in range(0,len(s)):
    print(s.lower()[i])

p
p
p
p
o
o
o
o
o
y
y
y

In [35]:
s.count("p")

3

In [38]:
s.lower().count("p")

4

In [39]:
type(s.lower().count("p"))

int

In [41]:
def Solution(s):
    if s.lower().count("p") == s.lower().count("y"):
        return True
    else:
        return False

Solution(s)

False

### 자연수 뒤집어 배열로 만들기

자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다. 

제한 조건
- n은 10,000,000,000이하인 자연수입니다.

In [54]:
a=12345
str(a)

'12345'

In [56]:
str(a)[::-1]

'54321'

In [57]:
"".join(reversed(str(a)))

'54321'

In [58]:
list = []
for i in range(0,len(str(a))):
               list.append(int(str(a)[::-1][i]))
list

[5, 4, 3, 2, 1]

In [ ]:
def solution(n):
    list = []
    for i in range(0,len(str(n))):
        list.append(int(str(n)[::-1][i]))
    return list

In [59]:
# 다른 사람의 풀이
list(map(int, reversed(str(a))))

TypeError: 'list' object is not callable

## 정수 제곱근 판별

임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.
n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.  

제한 사항
- n은 1이상, 50000000000000 이하인 양의 정수입니다.

In [73]:
def solution(n):
    x = n**0.5
    if x == int(x):
        return int((x+1)**2)
    else:
        return -1

solution(121)

144

## 문자열을 정수로 바꾸기

문제 설명  
문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.  

제한 조건  
- s의 길이는 1 이상 5이하입니다.
- s의 맨앞에는 부호(+, -)가 올 수 있습니다.
- s는 부호와 숫자로만 이루어져있습니다.
- s는 "0"으로 시작하지 않습니다.

입출력 예  

예를들어 str이 "1234"이면 1234를 반환하고, "-1234"이면 -1234를 반환하면 됩니다.  
str은 부호(+,-)와 숫자로만 구성되어 있고, 잘못된 값이 입력되는 경우는 없습니다.

In [75]:
s="+1234"
int(s)

1234

## 정수 내림차순으로 배치하기

문제 설명  
함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.  

제한 조건
- n은 1이상 8000000000 이하인 자연수입니다.

In [76]:
a = 118372

str(a)

'118372'

In [79]:
int("".join(sorted(str(a),reverse = True)))

873211

In [80]:
def solution(n):
    return int("".join(sorted(str(n), reverse = True)))

solution(9132468)

9864321

문제 설명  
양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.  

제한 조건
- x는 1 이상, 10000 이하인 정수입니다.

In [88]:
b = 18

print(int(str(x)[0]) + int(str(x)[1]))

9

In [89]:
def solution(x):
    total = 0
    for i in range(len(str(x))):
        total += int(str(x)[i])
    return x%total == 0

solution(11)

False

In [91]:
# 다른 답안
def Harshad(x):
    return x%sum(int(i) for i in str(x)) == 0

Harshad(12)

True

In [93]:
d = 13
print(sum(int(i) for i in str(d)))

4

## 두 정수 사이의 합

문제 설명  
두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.  
예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.  

제한 조건
- a와 b가 같은 경우는 둘 중 아무 수나 리턴하세요.
- a와 b는 -10,000,000 이상 10,000,000 이하인 정수입니다.
- a와 b의 대소관계는 정해져있지 않습니다.

In [94]:
for i in range(3,5):
    print(i)

3
4

In [97]:
total = 0
for i in range(3,5):
    total += i
total

7

In [100]:
def solution(a,b):
    total=0
    if a<b:
        for i in range(a,b+1):
            total += i
        return total
    elif a>b:
        for i in range(b,a+1):
            total += i
        return total
    else:
        return a
    
solution(5,3)

12

In [101]:
sum(range(3,6))

12

## 서울에서 김서방 찾기

String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, "김서방은 x에 있다"는 String을 반환하는 함수, solution을 완성하세요. seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.  

제한 사항
- seoul은 길이 1 이상, 1000 이하인 배열입니다.
- seoul의 원소는 길이 1 이상, 20 이하인 문자열입니다.
- "Kim"은 반드시 seoul 안에 포함되어 있습니다.

In [103]:
a = ["Jane", "Kim"]
a.index("Kim")

1

In [107]:
def Find_Kim(a):
    return "김서방은 " + str(a.index("Kim")) + "에 있다"
Find_Kim(a)

'김서방은 1에 있다'

## 행렬의 덧셈

문제 설명  
행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 2개의 행렬 arr1과 arr2를 입력받아, 행렬 덧셈의 결과를 반환하는 함수, solution을 완성해주세요.  

제한 조건
- 행렬 arr1, arr2의 행과 열의 길이는 500을 넘지 않습니다.

In [2]:
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]

print(type(arr1))
print(type(arr2))

<class 'list'>
<class 'list'>

In [3]:
arr1[0]

[1, 2]

In [4]:
arr1[0][0]

1

In [5]:
type(arr1[0])

list

In [6]:
arr1[0][1]

2

In [7]:
arr1 + arr2

[[1, 2], [2, 3], [3, 4], [5, 6]]

In [8]:
type(arr1[0][1])

int

In [9]:
arr1[0][0] + arr2[0][0]

4

In [10]:
sum(arr1)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [11]:
arr3 = [1,2,3,4]
sum(arr3)

10

In [12]:
len(arr1)

2

In [15]:
test = [[]]
test[0] = 1
test

[1]

In [19]:
test[0] = [1,2]
test

[[1, 2]]

In [25]:
test.append([2,3])
test

[[1, 2], [2, 3]]

In [20]:
sum(test[0])

3

In [32]:
def solution(arr1, arr2):
    l_list = []
    for i in range(len(arr1)):
        for j in range(len(arr1[0])):
            m_list = []
            m_list.append(arr1[i][j] + arr2[i][j])
            l_list.append(m_list)
        del m_list
    return l_list

solution(arr1, arr2)

[[4], [6], [7], [9]]

In [36]:
def solution(arr1, arr2):
    last_list = []
    for i in range(len(arr1)):
        mid_list = []
        for j in range(len(arr1[0])):
            mid_list.append(arr1[i][j] + arr2[i][j])
        last_list.append(mid_list)
        del mid_list
    return last_list

solution(arr1, arr2)

[[4, 6], [7, 9]]

In [ ]:
# 비슷하지만 다른 풀이 (하지만 A가 변한다는 함정이 있음.)
def sumMatrix(A,B):
    for i in range(len(A)):
        for j in range(len(A[0])):
            A[i][j] += B[i][j]
    return A

In [ ]:
# 또 다른 풀이, zip을 활용한
def sumMatirx(A,B):
    answer = [[c + d for c, d in zip(a,b)] for a, b in zip(A,B)]
    return answer

## 직사각형 별찍기

문제 설명  
이 문제에는 표준 입력으로 두 개의 정수 n과 m이 주어집니다.  
별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해보세요.  

제한 조건
- n과 m은 각각 1000 이하인 자연수입니다.

In [44]:
a, b = map(int, input("수를 입력하세요. ").strip().split(" "))
star = "*"*a
for i in range(b):
    print(star)

수를 입력하세요.  3 5

★★★
★★★
★★★
★★★
★★★

In [45]:
# 더 괜찮은 대답
a, b = map(int, input().strip().split(" "))
answer = ("*"*a + '\n')*b
print(answer)

 3 5

***
***
***
***
***

In [46]:
print("abcde\nabedx")

abcde
abedx

## 최대공약수와 최소공배수

문제 설명  
두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환하는 함수, solution을 완성해 보세요. 배열의 맨 앞에 최대공약수, 그다음 최소공배수를 넣어 반환하면 됩니다. 예를 들어 두 수 3, 12의 최대공약수는 3, 최소공배수는 12이므로 solution(3, 12)는 [3, 12]를 반환해야 합니다.  

제한 사항
- 두 수는 1이상 1000000이하의 자연수입니다.

In [58]:
def solution(n, m):
    list = []
    for i in range(1,m+1):
        if n%i == 0 and m%i == 0:
            list.append(i)
    return [max(list), ((max(list))*(n//max(list))*(m//max(list)))]

solution(3, 12)

[3, 12]

In [ ]:
12, 18
12 = 1, 2, 3, 4, 6, 12
18 = 1, 2, 3, 6, 9, 18
최소공배수 = 두 수를 최대 공약수로 나눠 준 다음에, 최대 공약수 * 각각의 몫

## 같은 숫자는 싫어

문제 설명
배열 arr가 주어집니다. 배열 arr의 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지해야 합니다. 예를 들면,

- arr = [1, 1, 3, 3, 0, 1, 1] 이면 [1, 3, 0, 1] 을 return 합니다.
- arr = [4, 4, 4, 3, 3] 이면 [4, 3] 을 return 합니다.
배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return 하는 solution 함수를 완성해 주세요.  

제한사항
- 배열 arr의 크기 : 1,000,000 이하의 자연수
- 배열 arr의 원소의 크기 : 0보다 크거나 같고 9보다 작거나 같은 정수

In [59]:
arr = [1, 1, 3, 3, 0, 1, 1]
arr.count(1)

4

In [60]:
arr.count(arr[0])

4

In [61]:
result1 = set(arr)

In [62]:
print(f'{result1}')

{0, 1, 3}

In [63]:
def solution(arr):
    result = []
    for i in arr:
        if i not in result:
            result.append(i)
    return result

solution(arr)

[1, 3, 0]

In [65]:
def NoNoNo(arr):
    result = [arr[0]]
    for i in range(1, len(arr)):
        if arr[i] != arr[i-1]:
            result.append(arr[i])
    return result

NoNoNo(arr)

[1, 3, 0, 1]

In [72]:
arr[-1:]

[1]

## 3진법 뒤집기

문제 설명  
자연수 n이 매개변수로 주어집니다. n을 3진법 상에서 앞뒤로 뒤집은 후, 이를 다시 10진법으로 표현한 수를 return 하도록 solution 함수를 완성해주세요.  

제한사항
- n은 1 이상 100,000,000 이하인 자연수입니다.

## 이상한 문자 만들기

문제 설명  
문자열 s는 한 개 이상의 단어로 구성되어 있습니다. 각 단어는 하나 이상의 공백문자로 구분되어 있습니다. 각 단어의 짝수번째 알파벳은 대문자로, 홀수번째 알파벳은 소문자로 바꾼 문자열을 리턴하는 함수, solution을 완성하세요.  

제한 사항
- 문자열 전체의 짝/홀수 인덱스가 아니라, 단어(공백을 기준)별로 짝/홀수 인덱스를 판단해야합니다.
- 첫 번째 글자는 0번째 인덱스로 보아 짝수번째 알파벳으로 처리해야 합니다.

In [83]:
a = "try hello world"
a.split(" ")

['try', 'hello', 'world']

In [75]:
a.split(" ")[0][0]

't'

In [76]:
a.split(" ")[1][0]

'h'

In [77]:
a.split(" ")[1][0].upper()

'H'

In [78]:
0%2

0

In [100]:
def solution(s):
    result = []
    s_split = s.split(" ")
    for i in s_split:
        for j in range(len(i)):
                        if j%2 == 0:
                            result.append(i[j].upper())
                        else:
                            result.append(i[j].lower())
        result.append(" ")
    return "".join(result).strip()

In [101]:
solution(a)

'TrY HeLlO WoRlD'

In [102]:
str_b = "hi hello we are champion"
solution(str_b)

'Hi HeLlO We ArE ChAmPiOn'

In [94]:
str_b

'hi hello we are champion'